
@{
    ViewBag.Title = "Premise";
}

<h2>Index</h2>
<a href="@Url.Action("PremiseGetValue")" class="btn btn-default">Premise Get</a>
<a href="@Url.Action("PremiseSetValue")" class="btn btn-default">Premise Set</a>
<h3>Premise : @ViewBag.Premise </h3>
<h3>  Stamp : @ViewBag.PremisScDateStamp </h3>
