
@{
    ViewBag.Title = "PubSubMemoryRedis";
}

<h2>PubSubMemoryRedis</h2>
<a href="@Url.Action("GetValue")" class="btn btn-default">Get</a>
<a href="@Url.Action("SetValue")" class="btn btn-default">Set</a>
<a href="@Url.Action("Clear")" class="btn btn-default">Clear</a>

<h3>Value : @ViewBag.Value </h3>